html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.r3f
{
    touch-action: none;
}

.htmlScreen iframe
{
width: 1024px;
height: 670px;
border: none;
border-radius: 20px;
background: #000;
cursor: pointer;
  -webkit-overflow-scrolling: touch;
}

.hidden-icon-desktop{
    display: none;
}
@media (min-width: 1024px) {
  .hidden-icon-desktop{
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
  }
}

/* On small screens, make iframe fill parent and allow scrolling */
@media (max-width: 600px) {
  .htmlScreen iframe {
    max-width: 100vw;
    max-height: 60vh;
    overflow: auto;
    cursor:pointer;
  }
}